.starOn {
	background-image:	url(starOn.png);
	margin 			:	2px 2px;
	width			:	16px;
	height			:	16px;
	display			:	inline-block;
	float			:	left;
}

.starOff {
	background-image:	url(starOff.png);
	margin 			:	2px 2px;
	width			:	16px;
	height			:	16px;
	display			:	inline-block;
	float			:	left;	
}

.starHiddenClearMode {
	clear 			: 	left;
}
